<h1 class="text-2xl font-bold text-gray-700">Endereço</h1>
<div id="address">
  <div class="my-6">
    <div class="flex justify-between">
      <div class="w-1/4">
        <%= form.label :cep, t('activerecord.attributes.address.cep') %>
        <%= form.text_field :cep, class: "block shadow border #{@municipe.address.errors[:cep].any? ? 'border border-red-500' : 'border-zinc-200'} outline-none px-3 py-3 mt-2 w-full",
                            data: { action: "keyup->municipe-form#onCepChange", "municipe-form-target": "cep" } %>
      <% if @municipe.address.errors[:cep].present? %>
        <p class="text-red-500 text-sm mt-1">
          <%= @municipe.address.errors[:cep].first %>
        </p>
      <% end %>
      </div>
      <div class="w-[73%]">
        <%= form.label :street, t('activerecord.attributes.address.street') %>
        <%= form.text_field :street, class: "block shadow border #{@municipe.address.errors[:street].any? ? 'border border-red-500' : 'border-zinc-200'} outline-none px-3 py-3 mt-2 w-full",
                            data: { "municipe-form-target": "street" } %>
        <% if @municipe.address.errors[:street].present? %>
          <p class="text-red-500 text-sm mt-1">
            <%= @municipe.address.errors[:street].first %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="my-5">
    <%= form.label :complement, t('activerecord.attributes.address.complement') %>
    <%= form.text_field :complement, class: "block shadow border #{@municipe.address.errors[:complement].any? ? 'border border-red-500' : 'border-zinc-200'} outline-none px-3 py-3 mt-2 w-full" %>
    <% if @municipe.address.errors[:complement].present? %>
      <p class="text-red-500 text-sm mt-1">
        <%= @municipe.address.errors[:complement].first %>
      </p>
    <% end %>
  </div>
  <div class="my-5">
    <div class="flex justify-between">
      <div class="w-1/4">
        <%= form.label :district, t('activerecord.attributes.address.district') %>
        <%= form.text_field :district, class: "block shadow border #{@municipe.address.errors[:district].any? ? 'border border-red-500' : 'border-zinc-200'} outline-none px-3 py-3 mt-2 w-full",
                            data: { "municipe-form-target": "district" } %>
        <% if @municipe.address.errors[:district].present? %>
          <p class="text-red-500 text-sm mt-1">
            <%= @municipe.address.errors[:district].first %>
          </p>
        <% end %>
      </div>
      <div class="w-1/4 px-2">
        <%= form.label :city, t('activerecord.attributes.address.city') %>
        <%= form.text_field :city, class: "block shadow border #{@municipe.address.errors[:city].any? ? 'border border-red-500' : 'border-zinc-200'} outline-none px-3 py-3 mt-2 w-full",
                            data: { "municipe-form-target": "city" } %>
       <% if @municipe.address.errors[:city].present? %>
        <p class="text-red-500 text-sm mt-1">
          <%= @municipe.address.errors[:city].first %>
        </p>
      <% end %>
      </div>
      <div class="w-1/4 px-2">
        <%= form.label :uf, t('activerecord.attributes.address.uf') %>
        <%= form.text_field :uf, class: "block shadow border #{@municipe.address.errors[:uf].any? ? 'border border-red-500' : 'border-zinc-200'} outline-none px-3 py-3 mt-2 w-full",
                            data: { "municipe-form-target": "uf" } %>
       <% if @municipe.address.errors[:uf].present? %>
        <p class="text-red-500 text-sm mt-1">
          <%= @municipe.address.errors[:uf].first %>
        </p>
        <% end %>
      </div>
      <div class="w-1/4 px-2">
        <%= form.label :ibge_code, t('activerecord.attributes.address.ibge_code') %>
        <%= form.text_field :ibge_code, class: "block shadow border #{@municipe.address.errors[:ibge_code].any? ? 'border border-red-500' : 'border-zinc-200'} outline-none px-3 py-3 mt-2 w-full" %>
        <% if @municipe.address.errors[:ibge_code].present? %>
          <p class="text-red-500 text-sm mt-1">
            <%= @municipe.address.errors[:ibge_code].first %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
